font2 {
    text-shadow: 0.1em 0.1em 0.1em #600, -0.1em 0.1em 0.1em #060, 0.1em -0.1em 0.1em #006
}

#fundoBranco {
    background: rgb(255, 255, 255);
}

.center1 {
    margin: auto;
    width: 80%;
    background: #fff;
    border: 3px solid #73AD21;
    padding: 10px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#fundoPreto {
    background: rgb(0, 0, 0);
}

#fundoVermelho {
    background: rgb(255, 0, 0);
}

body {
    margin: 0;
    padding: 0;
}